body{
    background-color: #E1E2EF;
    color: black;
}

.book-form{
    position: fixed;
    top: 20%;
    left: 40%;
    row-gap: 10px;
    color: white;
    background-color: lightseagreen;
    padding: 30px;
}

.book-btn{
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 20px;
    font-size: 20px;
    background-color: lightgreen;
}

.book-container{
    display: grid;
    grid-template-columns: repeat(4,25%);
    gap: 10px;
    overflow: hidden;
}

.book{
    background-color: #B497D6;
    padding: 10px;
    color: white;
    border-radius: 20px;
}

button{
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    border: none;
}

button:hover{
    transform: scale(1.2);
    text-decoration: underline;
}